<a href="/new_game">New Game</a>

<% if @player1 %>
	<% if @player1 == "" %>
		<h1>Please choose one option</h1>
	<% else %>
		<h1><%= @player1.capitalize %>, please choose one option</h1>
	<% end %>
<% end %>

<a href="/option" id="rock">ROCK</a>
