
<section>
	<% if @player %>
		<% if @player == "" %>
			<h2>Please choose one option</h2>
		<% else %>
			<h2><%= @player.capitalize %>, please choose one option:</h2>
		<% end %>
		<form action="/option" method="post">
		<p><input type="radio" name="option" value="Rock">ROCK</p>
		<p><input type="radio" name="option" value="Paper">PAPER</p>
		<p><input type="radio" name="option" value="Scissors">SCISSORS</p>
		<p></p>
		<p><INPUT type="submit" value="Send"></p>
		</form>
	<% end %>
</section


