<section>
	<form action="/new_player" method="post">
	<h2>What's your name?</h2>
	<p>
		<input type="text" name="player_name" value="<%= @player %>">
		<input type="submit" value="Register">
	</p>
	</form>

	<% if @player %>
		<h1><%= @player%>, please click on "Play" to start a game.</h1>
	<% end %>
</section>



