<html>

	<head>
		<title>Rock, Paper, Scissors</title>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
	</head>

	<body>

		<header>
			<h1>Rock, Paper, Scissors</h1>
			<nav><ul>
					<li><a href="/new_game">Play vs Robot</a></li>
					<li><a href="/new_game_multiplayer">Play vs Human</a></li>
				</ul>
			</nav>
		</header>

		<main>
		<%= yield %>
		</main>
	</body>

</html>