<html>

	<head>
		<title>Rock, Paper, Scissors</title>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
	</head>

	<body>

		<header>
			<h1>Rock, Paper, Scissors</h1>
			<% if @player%>
				<nav><a href="/new_game">Play </a></nav>
			<% end %>
		</header>

		<main>
		<%= yield %>
		</main>
	</body>

</html>