<html>

	<head>
		<title>Rock, Paper, Scissors</title>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
	</head>

	<body>

		<header>
			<h1>Rock, Paper, Scissors</h1>
			<nav><a href="/new_game">Play vs Robot</a></nav>
		</header>

		<main>
		<%= yield %>
		</main>
	</body>

</html>