<section>
	<form action="/new_game/new_player" method="post">
	<h2>What's your name?</h2>
	<p>
		<input type="text" name="player_name" value="<%= @player %>">
		<input type="submit" value="Register">
	</p>
</form>
</section>