<article id="name_form">
	<form action="/new_game/new_player" method="post">
	<p>What's your name?</p>
	<p>
		<input type="text" name="player_name">
		<input type="submit" value="Register">
	</p>
</form>
</article>