<section id="resultsection">
	<article id="left">
		<% if @option1.class == Rock %>
			<img src="http://www.clker.com/cliparts/p/G/a/s/t/g/rock-hi.png" alt="Rock">
		<% elsif @option1.class == Paper %>
			<img src="http://www.clker.com/cliparts/Y/t/o/V/q/F/paper-md.png" alt="Paper">
		<% elsif @option1.class == Scissors %>
			<img src="http://www.clker.com/cliparts/8/B/i/M/Y/Z/scissors.svg" alt="Scissors">
		<% else %>
		<% end %>
	</article>
	<article id="center">
		<p>Player 1 chose: <%= @option1.name %> </p>
		<p>Player 2 chose: <%= @option2.name %> </p>
		<p id="result"><%= @result %></p>
	</article>
	<article id="right">
		<% if @option2.class == Rock %>
			<img src="http://www.clker.com/cliparts/p/G/a/s/t/g/rock-hi.png" alt="Rock">
		<% elsif @option2.class == Paper %>
			<img src="http://www.clker.com/cliparts/Y/t/o/V/q/F/paper-md.png" alt="Paper">
		<% elsif @option2.class == Scissors %>
			<img src="http://www.clker.com/cliparts/8/B/i/M/Y/Z/scissors.svg" alt="Scissors">
		<% else %>
		<% end %>
	</article>
</section>



